/*Joyeux Irashubije
09/21/2023*/

h1{
    background-color:black ;
    color: burlywood;
}

header{
    background-color: rgb(99, 82, 61);
}

footer{
    background-color: rgb(99, 82, 61);
}

p{
    font-size: 20px;
}
ul{
    font-size: 20px;
}

a:link {
    color: #ae63ff;
  }

  a:visited {
    color: #a1e0fe;
  }

  
  a:hover {
    color: #fff75a;
  }


  a:active {
    color: #0e0e86;
  }