
.slide{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.slide p{
	font-family: 'Ruslan Display', sans-serif;
	font-size: 30px;
    color: #fe8929;
}
.cycle-slideshow img{
	margin-bottom: 80px;
	box-shadow: -19px 22px 16px -13px #fe8929;
	z-index:-2 !important; /* I belive that within the plugin the z index is set missing up my flow */
	opacity: 100% !important;
}